<h1>Hogyan működik?</h1>
<p class="jumbotron">Ha még nem regisztráltál, akkor regisztrálsz az oldalra. Bejelentkezel.
A hozzáadás fülön tudsz új recepteket felvenni. A listázás fülön pedig az adatbázisban levő recepteket tudod megtekinteni, módosítani.</p>